{% if post.featured_image %}
  {% if post.featured_image.size > 1 and post.featured_image[0] %}
    <link rel="stylesheet" href="{{ site.url }}/css/carousel-fade.css">
    <!-- Slideshow container -->
    {% assign carousel_id = post.title | replace: " ", "_" %}
    <div id='{{carousel_id}}' class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for image in post.featured_image %}
          <li data-target="#{{carousel_id}}" data-slide-to="{{forloop.index | minus: 1}}" class="{% if forloop.index == 1 %}active{% endif %}" aria-label="Slide {{forloop.index}}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
          {% for image in post.featured_image %}
            <!-- Full-width images with number and caption text -->
            <div class="item {% if forloop.index == 1 %}active{% endif %}">
              <img class="img-responsive" src="{{ image }}">
            </div>
          {% endfor %}

          <!-- Controls -->
          <a class="left carousel-control" href="#{{carousel_id}}" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#{{carousel_id}}" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>
      <br>
    </div>
    {% else %}
    <img class="img-responsive" src="{{ post.featured_image }}" title="{{ post.title }}">
  {% endif %}

{% endif %}